<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Basic web app" />
    <meta name="author" content="Ben Lantaff (blantaff@gmail.com)" />
    <title>Basic web app</title>

    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/custom.css" rel="stylesheet" />
    <meta name="theme-color" content="#712cf9" />
